@font-face {
    font-family: 'Lato';
    src: url('./assets/fonts/Lato/Lato-Regular.woff') format('woff'), url('/assets/fonts/Lato/Lato-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Red Hat Display';
    src: url('./assets/fonts/RedHatDisplay/RedHatDisplay-Regular.woff') format('woff'), url('/assets/fonts/RedHatDisplay/RedHatDisplay-Regular.woff2') format('woff2');
}