@use 'fonts';
$container-width: 1170px;
$container-width_tablet:700px;
$container-width_mobile:300px;
$main_font_family: 'Red Hat Display';
$second_font_family:'Lato';
$main_font_size:16px;
$main_color:#7B7B7B;
$color_text:#565656;
$color-title:#000;
$color-btn:#fff;
$bg_footer:#F4F4F4;