@use 'fonts';
@use 'vars' as v;
@use 'mixins' as m;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: v.$main_color;
}

html,
body {
    font-size: v.$main_font_size;

    @media screen and (max-width: 576px) {
        font-size: 16px;
    }
}

ol,
ul {
    list-style: none;

}

a {
    text-decoration: none;
}

.container {
    max-width: v.$container-width;
    margin: 0 auto;

    @media screen and (max-width:768px) {
        max-width: v.$container-width_tablet;

    }

    @media screen and (max-width:576px) {
        max-width: v.$container-width_mobile;

    }

}

.flex_container {
    @include m.flex(row, space-between, flex-start);
    gap: 30px;
}

.header {
    padding: 44px 0;

    @media screen and (max-width:768px) {
        padding: 23px 0;

    }
}

.nav {
    flex-grow: 1;

    @media screen and (max-width:768px) {
        order: 2;
        flex-grow: 0;
    }

}

.menu {
    @include m.flex(row, flex-end, center);
    gap: 2.9vw;
    padding: 0 30px;

    @media screen and (max-width:768px) {
        position: absolute;
        left: -100%;
        top: 65px;
        opacity: 0;
        flex-direction: column;
        background-color: #97cbca;
        padding: 0 0;
        transition: all 0.5s;
        width: 100%;
        gap: 0;
    }

    &__item {
        @media screen and (max-width: 768px) {
            padding: 20px 0;
            border-bottom: 1px solid #fff;
            width: 100%;
            text-align: center;
        }
    }

    &__link {
        font-family: 'Lato';
        text-transform: uppercase;
        font-size: 14px;
        letter-spacing: 30%;
        font-weight: 400;
        color: v.$color-title;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            bottom: -5px;
            left: -10px;
            transform: translateX(-50%);
            width: 0;
            height: 1px;
            background-color: #000;
            opacity: 0;
            transition: all 0.4s;
        }

        &:hover {
            &::after {
                opacity: 1;
                width: 75%;
                left: 50%;
            }
        }
    }


}

.burger {
    display: none;

    @media screen and (max-width:768px) {
        &:checked~.menu {
            opacity: 1;
            left: 0;
        }

        &:checked~.burger__img {
            transform: rotate(587deg);
            transition: all 0.4s;

            &::before {
                opacity: 0;
            }

            &::after {
                top: 0;
                transform: rotate(90deg);
            }
        }
    }

    &__img {
        display: none;
        cursor: pointer;

        @media screen and (max-width:768px) {
            display: inline-block;
            position: relative;
            top: -3px;
            width: 34px;
            height: 2px;
            background-color: #524b4b;

            &::before,
            &::after {
                content: '';
                position: absolute;
                width: 100%;
                height: 2px;
                background-color: #524b4b;
                top: 10px;
            }

            &::after {
                top: -10px;
            }

        }
    }
}


.hero {
    background: url(../assets/img/desktop/bg-image_desktop.webp) center / cover no-repeat;
    width: 100%;
    height: 600px;
    padding-top: 100px;

    @media screen and (max-width:768px) {
        background: url(../assets/img/tablet/bg-image_tablet.png) center / cover no-repeat;
        // width: 100%;
        height: 320px;
        padding-top: 30px;
    }

    @media screen and (max-width:576px) {
        background: url(../assets/img/mobile/bg-image_mobile.png) center / cover no-repeat;
        // width: 100%;
        height: 500px;
        padding-top: 70px;
    }
}

section {
    padding: 45px 0;
}

.title {
    font-family: v.$main_font_family;
    color: v.$color-title;

    &_1 {
        @include m.font_title(3rem, 1.33, 600, 5%);
        max-width: 770px;

        @media screen and (max-width:768px) {
            font-size: 2.25rem;
        }

        @media screen and (max-width:576px) {
            font-size: 1.875rem;
        }
    }

    &_2 {
        @include m.font_title(3rem, 1.33, 400, 5%);
        //48
    }

    &_3 {
        @include m.font_title(1.75rem, 1.66, 600, 10%);
        //28
    }

    &_4 {
        @include m.font_title(1.4375rem, 1.66, 500, 10%);
        //23
        margin-bottom: 15px;
    }
}

.blog {
    padding-top: 90px;
}

.article {
    @include m.flex(row, flex-start, center);
    gap: 30px;
    padding-top: 50px;

    &_descr {
        max-width: 450px;
    }

    &_revers {
        flex-direction: row-reverse;
    }

    &_subtitle {
        font-family: 'Lato';
        font-weight: 400;
        font-size: 16px;
        line-height: 1.66;
        letter-spacing: 10%;
        margin-bottom: 30px;
    }

    &_date {
        font-family: 'Lato';
        @include m.font_title(1rem, 1.66, 400, 10%);

    }

    &_text {
        font-family: 'Lato';
        @include m.font_title(1rem, 1.66, 400, 5%);
        color: v.$color_text;
        margin-top: 50px;
    }
}

.heading {
    @include m.flex(row, space-between, center);
    margin-bottom: 50px;

    &__link-wrapper {
        display: flex;
        align-items: center;
        gap: 20px;
    }
}


.post {
    &_info {
        @include m.flex(row, space-between, center);
        padding: 25px 0;
        font-family: v.$second_font_family;
        @include m.font_title(0.75rem, 1.66, 400, 10%);
        color: v.$main_color;

    }

    &_text {
        font-family: v.$second_font_family;
        @include m.font_title(1rem, 1.66, 400, 5%);
        color: v.$color_text;
    }

}

.btn {
    background-color: v.$color_text;
    padding: 9px 45px;
    margin: 50px auto 0 auto;
    display: block;
    // width: 108px;
    // height: 46px;
    border: none;
    color: v.$color-btn;
    font-family: v.$second_font_family;
    @include m.font_title(1rem, 1.66, 700, 10%);
}

.info {
    &_col {
        max-width: 470px;
    }

    &_text {
        font-family: v.$main_font_family;
        color: v.$color-title;
        @include m.font_title(1.4375rem, 1.66, 400, 10%);

        &_right {
            font-family: v.$second_font_family;
            color: v.$color_text;
            @include m.font_title(1.1875rem, 1.68, 400, 5%);

            &:first-of-type {
                margin-bottom: 32px;
            }
        }
    }

    &_arrow {
        margin-top: 20px;
    }
}

.footer {
    background-color: v.$bg_footer;
    padding: 70px 0;
    color: v.$color-title;

    &_container {
        @include m.flex(row, space-between, center);

        @media screen and (max-width: 768px) {
            @include m.flex(column, space-between, center);
            gap: 40px;
        }
    }

    &_text {
        text-align: center;
        margin-top: 20px;
        color: v.$color-title;

        @media screen and (max-width: 768px) {
            margin-top: 40px;
        }
    }

    &_col {}

    &_contacts {
        @include m.flex(column, space-between, flex-start);
        margin-top: 30px;
        gap: 15px;

        &_link {
            font-family: v.$second_font_family;
            @include m.font_title(1rem, 1.66, 400, 10%);
            color: v.$color-title;
        }

        @media screen and (max-width: 768px) {
            align-items: center;
        }
    }
}

.social {
    @include m.flex(row, space-between, center);
    gap: 23px;

    &_item {}

    &_link {
        display: block;
        width: 50px;
        height: 50px;
        background-color: transparent;
        border: 1px solid v.$color_text;
        position: relative;

        &:hover {
            background-color: v.$color_text;
            cursor: url(../assets/img/cursor.png), pointer;

            & .social_icon {
                fill: v.$color-btn;

            }
        }

    }


    &_icon {
        position: absolute;
        top: 28%;
        left: 28%;
        fill: v.$color_text;
    }
}